<html>
	<body>
	<div itemscope itemtype="http://schema.org/Event">
			  <meta itemprop="name" content="Taco Night"/>
			  <meta itemprop="startDate" content="2016-10-18T15:30:00Z"/>
			  <metae itemprop="endDate" content="2016-10-18T16:30:00Z"/>
			  <div itemprop="location" itemscope itemtype="http://schema.org/Place">
			    <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
			      <meta itemprop="name" content="Google"/>
			      <meta itemprop="streetAddress" content="24 Willie Mays Plaza"/>
			      <meta itemprop="addressLocality" content="San Francisco"/>
			      <meta itemprop="addressRegion" content="CA"/>
			      <meta itemprop="postalCode" content="94107"/>
			      <meta itemprop="addressCountry" content="USA"/>
			    </div>
			  </div>
			  <div itemprop="potentialAction" itemscope itemtype="http://schema.org/RsvpAction">
			  	<div itemprop="object" itemscope itemtype="http://schema.org/Thing">
			  		<meta itemprop="name" content="RSVP"/>
			  	</div>
			 
			    <div itemprop="handler" itemscope itemtype="http://schema.org/HttpActionHandler">
			      <link itemprop="url" href="http://mysite.com/rsvp?eventId=123&value=yes"/>
			    </div>
			    <link itemprop="attendance" href="http://schema.org/RsvpResponseType/Yes"/>
			  </div>
			  <div itemprop="potentialAction" itemscope itemtype="http://schema.org/RsvpAction">
			    <div itemprop="handler" itemscope itemtype="http://schema.org/HttpActionHandler">
			      <link itemprop="url" href="http://mysite.com/rsvp?eventId=123&value=no"/>
			    </div>
			    <link itemprop="attendance" href="http://schema.org/RsvpResponseType/No"/>
			  </div>
			  <div itemprop="potentialAction" itemscope itemtype="http://schema.org/RsvpAction">
			    <div itemprop="handler" itemscope itemtype="http://schema.org/HttpActionHandler">
			      <link itemprop="url" href="http://mysite.com/rsvp?eventId=123&value=maybe"/>
			    </div>
			    <link itemprop="attendance" href="http://schema.org/RsvpResponseType/Maybe"/>
			  </div>
			</div>
			</div>
			<h1>Taco Night</h1>
			<p>
				startDate:2016-10-18T15:30:00Z </br>
				endDate:2016-10-18T16:30:00Z </br>
				location: 24 Willie Mays Plaza , San Francisco, CA, 94107, USA

			</p>
			

	<body>
</html>